<% if user_signed_in? %>
  <% unless @user.id == current_user.id %>
    <% if @isRoom == true %>
      <%= link_to room_path(@roomId), class: "btn btn-success btn-sm", data: {"turbolinks" => false} do %>
        <i class="fa-solid fa-envelope fa-xl" style="color: #ffffff;"></i>
      <% end %>
    <% else %>
      <%= form_for @room do |f| %>
        <%= fields_for @entry do |e|%>
          <% e.hidden_field :user_id, value: @user.id %>
        <% end %>
        <button type="submit" class="btn btn-success btn-sm">
          <i class="fa-solid fa-envelope fa-xl" style="color: #ffffff;"></i>
        </button>
      <% end %>
    <% end %>
  <% end %>
<% else %>
  <%= link_to new_user_session_path, class: "btn btn-success btn-sm" do %>
    <i class="fa-solid fa-envelope fa-xl" style="color: #ffffff;"></i>
  <% end %>
<% end %>
