<nav class="navbar navbar-dark bg-success sticky-bottom" aria-label="First navbar example">
  <div class="container-fluid">
    <div class="navbar-collapse collapse" id="navbarsPostButton" style="">
      <ul class="nav justify-content-center me-auto mb-2">
          <li class="nav-item">
            <%= link_to new_plant_path, class: "btn btn-success" do %>
            <i class="fa-solid fa-seedling"></i> 植物投稿
            <% end %>
          </li>
          <li class="nav-item">
          <%= link_to new_care_record_path, class: "btn btn-success" do %>
            <i class="fa-solid fa-camera-retro"></i> 育成記録
          <% end %>
          </li> 
      </ul>
    </div>
    <%= link_to root_path do %>
      <i class="fa-solid fa-house fa-2xl" style="color: #ffffff;"></i>
    <% end %>
    <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsPostButton" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa-regular fa-square-plus fa-2xl" style="color: #ffffff;"></i>
    </button>
<i class="fa-solid fa-envelope fa-2xl" style="color: #ffffff;"></i>
  </div>
</nav>