	<div class="gallery">
   <div class="gallery-item">
      <img src="https://1.bp.blogspot.com/-LgVrdZ34XRM/XAnwY68nMrI/AAAAAAABQxA/P71YbDy3z3YCWiX9rLRsPQPw0iUzevxGwCLcBGAs/s800/stand_naname3_man.png">
      <div class="gallery-item-info">
        <img class="user-thumbnail" src="https://1.bp.blogspot.com/-LgVrdZ34XRM/XAnwY68nMrI/AAAAAAABQxA/P71YbDy3z3YCWiX9rLRsPQPw0iUzevxGwCLcBGAs/s800/stand_naname3_man.png">
        <span class="user-name">John Doe</span>
        <p>Image 1 description</p>
      </div>
    </div>
    <div class="gallery-item">
      <img src="https://1.bp.blogspot.com/-LgVrdZ34XRM/XAnwY68nMrI/AAAAAAABQxA/P71YbDy3z3YCWiX9rLRsPQPw0iUzevxGwCLcBGAs/s800/stand_naname3_man.png">
      <div class="gallery-item-info">
        <img class="user-thumbnail" src="https://1.bp.blogspot.com/-LgVrdZ34XRM/XAnwY68nMrI/AAAAAAABQxA/P71YbDy3z3YCWiX9rLRsPQPw0iUzevxGwCLcBGAs/s800/stand_naname3_man.png">
        <span class="user-name">Jane Smith</span>
        <p>Image 2 description</p>
      </div>
    </div>
    <div class="gallery-item">
      <img src="https://1.bp.blogspot.com/-LgVrdZ34XRM/XAnwY68nMrI/AAAAAAABQxA/P71YbDy3z3YCWiX9rLRsPQPw0iUzevxGwCLcBGAs/s800/stand_naname3_man.png">
      <div class="gallery-item-info">
        <img class="user-thumbnail" src="https://1.bp.blogspot.com/-LgVrdZ34XRM/XAnwY68nMrI/AAAAAAABQxA/P71YbDy3z3YCWiX9rLRsPQPw0iUzevxGwCLcBGAs/s800/stand_naname3_man.png">
        <span class="user-name">Jane Smith</span>
        <p>Image 2 description</p>
      </div>
    </div>
    <div class="gallery-item">
      <img src="https://1.bp.blogspot.com/-LgVrdZ34XRM/XAnwY68nMrI/AAAAAAABQxA/P71YbDy3z3YCWiX9rLRsPQPw0iUzevxGwCLcBGAs/s800/stand_naname3_man.png">
      <div class="gallery-item-info">
        <img class="user-thumbnail" src="https://1.bp.blogspot.com/-LgVrdZ34XRM/XAnwY68nMrI/AAAAAAABQxA/P71YbDy3z3YCWiX9rLRsPQPw0iUzevxGwCLcBGAs/s800/stand_naname3_man.png">
        <span class="user-name">Jane Smith</span>
        <p>Image 2 description</p>
      </div>
    </div>
    <div class="gallery-item">
      <img src="https://1.bp.blogspot.com/-LgVrdZ34XRM/XAnwY68nMrI/AAAAAAABQxA/P71YbDy3z3YCWiX9rLRsPQPw0iUzevxGwCLcBGAs/s800/stand_naname3_man.png">
      <div class="gallery-item-info">
        <img class="user-thumbnail" src="https://1.bp.blogspot.com/-LgVrdZ34XRM/XAnwY68nMrI/AAAAAAABQxA/P71YbDy3z3YCWiX9rLRsPQPw0iUzevxGwCLcBGAs/s800/stand_naname3_man.png">
        <span class="user-name">Jane Smith</span>
        <p>Image 2 description</p>
      </div>
    </div>
    <div class="gallery-item">
      <img src="https://1.bp.blogspot.com/-LgVrdZ34XRM/XAnwY68nMrI/AAAAAAABQxA/P71YbDy3z3YCWiX9rLRsPQPw0iUzevxGwCLcBGAs/s800/stand_naname3_man.png">
      <div class="gallery-item-info">
        <img class="user-thumbnail" src="https://1.bp.blogspot.com/-LgVrdZ34XRM/XAnwY68nMrI/AAAAAAABQxA/P71YbDy3z3YCWiX9rLRsPQPw0iUzevxGwCLcBGAs/s800/stand_naname3_man.png">
        <span class="user-name">Jane Smith</span>
        <p>Image 2 description</p>
      </div>
    </div>
    <div class="gallery-item">
      <img src="https://1.bp.blogspot.com/-LgVrdZ34XRM/XAnwY68nMrI/AAAAAAABQxA/P71YbDy3z3YCWiX9rLRsPQPw0iUzevxGwCLcBGAs/s800/stand_naname3_man.png">
      <div class="gallery-item-info">
        <img class="user-thumbnail" src="https://1.bp.blogspot.com/-LgVrdZ34XRM/XAnwY68nMrI/AAAAAAABQxA/P71YbDy3z3YCWiX9rLRsPQPw0iUzevxGwCLcBGAs/s800/stand_naname3_man.png">
        <span class="user-name">Jane Smith</span>
        <p>Image 2 description</p>
      </div>
    </div>
    <div class="gallery-item">
      <img src="https://1.bp.blogspot.com/-LgVrdZ34XRM/XAnwY68nMrI/AAAAAAABQxA/P71YbDy3z3YCWiX9rLRsPQPw0iUzevxGwCLcBGAs/s800/stand_naname3_man.png">
      <div class="gallery-item-info">
        <img class="user-thumbnail" src="https://1.bp.blogspot.com/-LgVrdZ34XRM/XAnwY68nMrI/AAAAAAABQxA/P71YbDy3z3YCWiX9rLRsPQPw0iUzevxGwCLcBGAs/s800/stand_naname3_man.png">
        <span class="user-name">Jane Smith</span>
        <p>Image 2 description</p>
      </div>
    </div>
    <div class="gallery-item">
      <img src="https://1.bp.blogspot.com/-LgVrdZ34XRM/XAnwY68nMrI/AAAAAAABQxA/P71YbDy3z3YCWiX9rLRsPQPw0iUzevxGwCLcBGAs/s800/stand_naname3_man.png">
      <div class="gallery-item-info">
        <img class="user-thumbnail" src="https://1.bp.blogspot.com/-LgVrdZ34XRM/XAnwY68nMrI/AAAAAAABQxA/P71YbDy3z3YCWiX9rLRsPQPw0iUzevxGwCLcBGAs/s800/stand_naname3_man.png">
        <span class="user-name">Jane Smith</span>
        <p>Image 2 description</p>
      </div>
    </div>
    <div class="gallery-item">
      <img src="https://1.bp.blogspot.com/-LgVrdZ34XRM/XAnwY68nMrI/AAAAAAABQxA/P71YbDy3z3YCWiX9rLRsPQPw0iUzevxGwCLcBGAs/s800/stand_naname3_man.png">
      <div class="gallery-item-info">
        <img class="user-thumbnail" src="https://1.bp.blogspot.com/-LgVrdZ34XRM/XAnwY68nMrI/AAAAAAABQxA/P71YbDy3z3YCWiX9rLRsPQPw0iUzevxGwCLcBGAs/s800/stand_naname3_man.png">
        <span class="user-name">Jane Smith</span>
        <p>Image 2 description</p>
      </div>
    </div>
  </div>
  <div class="more">
    <button>Load More</button>
  </div>