/* 全ページ共通背景画像設定 */
main{
  background-image: image-url('botalog-background.jpeg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color:rgba(255,255,255,0.4);
  background-blend-mode:lighten;
}

/* 全タブ共通スタイル */
.nav-tabs a{
  color: white;
  background-color: #198754;
}

.nav:hover a{
  color: white;
  background-color: #198754;
}

/* 全画像一覧表示共通スタイル */
.row-cols-3 .gallery {
  margin: 0;
  padding: 0;
}

.row-cols-3 .gallery .gallery-block {
  margin: 0;
  padding: 0;
}

.gallery-block {
  width: 100%; /* ブロックの幅を設定 */
  overflow: hidden; /* ブロック外のコンテンツを非表示にする */
  position: relative; /* ブロックの中に画像を配置するために必要 */
}

.gallery-block::before {
  content: "";
  padding-top: 100%; /* アスペクト比を指定（高さを横幅の100%に設定） */
  display: block;
}

.gallery-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* 画像の幅を100%に設定 */
  height: 100%; /* 画像の高さを100%に設定 */
  object-fit: cover; /* 画像をブロックに合わせてカバー表示 */
  object-position: center center; /* 画像を中央に配置 */
}

.gallery-item-info{
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 25%;
  padding: 5%;
  color: #fff;
  align-items: center;
  display: flex;
}

.user-thumbnail{
  margin: 10px 10px 10px 0px;
  height: 30px;
  width: 30px;
  align-items: center;
  border-radius: 50%;
  object-fit: cover;
}



/* もっと見るボタンを設定 */
.load-more {
  text-align: center;
  padding: 20px 0;
}
.load-more button {
  padding: 10px 20px;
  font-size: 14px;
}

/* ナビゲーションバースタイル */
.user-profile {
  display: flex;
  align-items: center; /* 画像を垂直方向に中央寄せ */
}

.user-thumbnail-nav{
    width: 40px; /* 画像の幅を調整 */
    height: 40px; /* 画像の高さを調整 */
    object-fit: cover; /* 画像を切り抜き */
  }

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}